$('#resources_list_container').html('<%= escape_javascript(render :partial => 'resources/list', locals: { editable: true}) %>');
hideOnLoad();
$('#estimation').val('');
$('#resource').val('');
$('#resource_id').val('');
<% resources = resources_for_project(@issue_resource.issue.project, @issue_resource.issue).values %>
options = '<%="<option></option>#{options_from_collection_for_select(resources, 'id', 'code')}".squish.html_safe %>';
$('#resource_id').empty().append(options).trigger("chosen:updated");

add_inline_editing();
$('input.button', $('#new_issue_resource')).removeAttr('disabled');
