<h2><%=l(:label_settings)%></h2>
<% tabs = project_settings_tabs
if @project.module_enabled?("redmine_resources")
  tabs << {:name => 'resources', :action => 'resources/trackers', :partial => 'projects/settings/resources', :label => :project_module_resources}
  if ResourceSetting.project_workflow_editable(@project.id)
    tabs << {:name => 'resources_workflows', :action => 'resources/workflows', :partial => 'projects/settings/resources_workflows', :label => :project_module_resources_workflows}
  end
end
%> 
<%= render_tabs tabs %>

<% html_title(l(:label_settings)) -%>
