<h2><%=l(:label_settings)%></h2>
<% tabs = project_settings_tabs
tabs << {:name => 'resources', :action => 'resources/trackers', :partial => 'projects/settings/resources', :label => :project_module_resources}
%> 
<%= render_tabs tabs %>

<% html_title(l(:label_settings)) -%>
