#resources input#issue_resource_estimation {
  width: 30px;
}
#resources input.button {
  width: 45px;
}
#resources input.button.small {
  width: 52px;
}
#resources td.edit_actions {
  width: 120px;
}
td.division_name {
  text-align: left;
}

td.estimation_cell {
  text-align: left;
  cursor: pointer;
}
.resource_estimation {
  display: inline;
  text-align: right;
  margin-left: 2px;
}
.resource_estimation input {
  width: 20px !important;
  margin-left: 2px;
}
.estimation_cell {
  width: 60px;
}