#resources input.estimation {
  width: 30px;
}
#resources input.button {
  width: 45px;
}
#resources input.button.small {
  width: 52px;
}
#resources td.actions {
  width: 120px;
}
td.division-name {
  text-align: left;
}

td.estimation-cell {
  text-align: left;
  cursor: pointer;
}
.resource-estimation {
  display: inline;
  text-align: right;
  margin-left: 2px;
}
.resource-estimation input {
  width: 20px !important;
  margin-left: 2px;
}
.estimation-cell {
  width: 60px;
}
