<% if @project.module_enabled?("redmine_resources") %>
	<%
	resources = Resource.all
	%>
	<p>
	<%= label_tag("resource", 'Resource:') %>
	<%= render partial: 'resources/resource_element', locals: {resources: resources} %> 
	</p>

	

<% end %>
