<% if resources_visible(@issue, @project) %>
	<div id='resources' class='hidden'>
		<h2>Resources</h2>
		<table id='resources_list'>
			<% issue_resources = @issue.issue_resource
			issue_resources.each { |resource_issue|
				%>
				<tr>
					<td><%= resource_issue.resource.code %></td>
					<td><%= resource_issue.estimation %></td>
					<td>edit</td>
				</tr>
				<%
			}
     %>
		</table>
	</div>
<% end %>