<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'chosen.min.css', plugin: 'redmine_resources' %>
  <%= javascript_include_tag 'chosen.jquery.min.js', plugin: 'redmine_resources' %>
<% end %>
<%= select_tag 'resource_id', "<option></option>#{ options_from_collection_for_select resources, :id, :code }".html_safe, class: 'resources_autocomplete' %>
<script type="text/javascript">
  $(document).ready(function () {
    $('.resources_autocomplete').chosen({ width: '90px', placeholder_text_single: 'Select' });
  });
</script>
